html {
    background-color: #5b6166;
  }


h1{
    color: rgb(220, 60, 20);
    text-align: center;
}



img{
    height:500px ;
    margin: 10px auto 20px;
    display: block;
}    

p{
    font-family: 'Arial', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

form{font-family: Georgia, 'Times New Roman', Times, serif;


}