html{
    background-color: #5b6166;
  }

h1{
    color: rgb(131, 145, 9);
    text-align: center;
    font-size: 50px;
}

img{
    height:500px ;
    margin: 10px auto 20px;
    display: block;
}    

p{
    font-family: 'Arial', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.form{
    font-size: 150%;

}

.tr{background-color: rgb(53, 48, 44);
    font-size: 40px;
}

