<html>
    <head>
        <link rel = "stylesheet" href = '//styles.css' >
    </head>
        <h1>Нужно больше, ещё больше воинов</h1>
        <p><a href="{{url_for('new')}}">создать воина</p>
        <p><a href="{{url_for('start')}}">убежать на главную страницу</p>
    <p></p>
        <table border="2">
            <tr>
            <th> unit </th>
            <th> damage </th>
            <th> bill </th>
            <th> bill </th>
            </tr>
            {% for unit in un %}
            <tr>
            <th> {{unit.unit}} </th>
            <th> {{unit.damage}} </th>
            <th> {{unit.armor}} </th>
            <th> {{unit.skill}} </th>
            </tr>
            {% endfor %}
            </table>  

</html>